body{
    background-color: #252525;
    margin:0;
}

header{
height: 80px;
background: #465B65;
padding-left: 5.5%;
padding-right: 5.5%;
}

/* Chris Marcellus Header Style */

.logotxt{
    display: inline;
    float: left;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Cinzel', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 80px;
}

/* White Center Logo */

.logo_white{
    display:block;
    position:absolute;
    padding-top: 10px;
    margin-left:44.5%;
    margin-right:44.5%;
}

/* Header buttons */

.header-button{
    display: inline-block;
    padding: 10px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    margin-inline:31px;
    font-family: 'Century';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height:29px;
    color: white;
}

.header-button:hover{
    background: #1C209E;
    color: white;
}

/* Text styles */

h1{
    font-family: 'Cinzel', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    margin-top: 23px;
    margin-bottom: 23px;
    color: #FFFFFF;
}
h2{
    font-family: 'Century';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    margin-top: 23px;
    margin-bottom: 23px;
    color: #FFFFFF;
}
h3{
    font-family: 'Century';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}
p{
    font-family: 'Century';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
a{
    font-family: 'Century';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF; 
}
a:hover{
    color: #19ABB8;
}
.underline{
    text-decoration-line: underline;
}
/* About Section Styles */

.about{
    display: inline-block;
    margin-left: 5.5%;
    margin-right: 5.5%;
}
.work{
    display: flex;
    margin: 5.5%;
    flex-direction: column;
}
.left{
    float: left;
}
.right{
    float: right;
}

/* Name/Title seperating line */

.line{
    border: 2px solid #FFFFFF;
    width: 620px;
}

/* Left About text */

.profiletxt{
    float:left;
    width: 44%
}

/* Right Image */

.profile{
    display: inline-block;
    float: right;
    padding-right:5.5%;
    padding-top:44px;
}

/* work section box */

.inspectrum, .usda, .christmasbox{
    display: flex;
    width: 1280px;
    height: 550px;
    margin-top: 72px;
}
.inspectrum{
    justify-content: flex-end;
    background-image: url(images/inspectrum.png);
    background-repeat: no-repeat;
    background-position: left;
}
.usda{
    justify-content: flex-start;
    background-image: url(images/usda.png);
    background-repeat: no-repeat;
    background-position: right;

}
.christmasbox{
    justify-content: flex-end;
    background-image: url(images/christmasbox.png);
    background-image: no-repeat;
    background-position: left;
}
.workflex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.workbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 37.5%;
    background: #465B65;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 55px 83px 55px;
    padding: 36px;
}
button{
    padding: 10px;
    gap: 10px;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    font-family: 'Century';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    background-color: transparent;
    width: fit-content;
}
button:hover{
    background: #1C209E;
    color: white;
}
/* Footer Style */

footer{
    height: 75px;
    background: #465B65;
    padding: 5px 5.5%;
}

.logo{
    float: right;
    display: inline-block;
    width: 60px;
    height: 60px;
    padding-top: 8px;
}

.socialmedia{
    position: relative;
    top:4px;
    padding-inline:8px;
}
